
.answer{
    display: flex;
    flex-direction: column;
    flex: 0.6;
    height: fit-content;
    justify-content: center;
    background-color: white;
    border: 1px soild lightgray;
    border-radius: 5px;
    margin-left: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.answer_title {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
  }
  
  .answer_title > h1 {
    color: #8f1f1b;
    font-weight: 600;
    font-size: larger;
    margin-bottom: 10px;
  }
  
  .answer_title > p {
    color: gray;
    font-size: medium;
  }
  
  .answer_title > p > .name {
    color: black;
    font-weight: bold;
  }
  
  .answer_body {
    display: flex;
    padding-top: 20px;
    flex: 1;
    margin-top: 1rem;
    /* border: 1px solid black; */
  }
  
  .answer_body > textarea {
    width: 90%;
    height: auto;
    padding: 15px;
    margin: auto;
    font-size: 15px;
    color: blue;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .question_btns {
    display: flex;
    align-items: center;
    margin-top: 70px;
    /* margin-right: -20px; */
    border-top: 1px solid lightgray;
    justify-content: flex-end;
    /* justify-content: center; */
    padding: 5px 5px 10px 10px;
  }

.question_btns .question_Cancelbtn{
    /* margin-left: auto; */
    outline: none;
    border: none;
    background-color: #8f1f1b;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.question_btns .question_Cancelbtn:hover{
    background-color: #c04d49;
    cursor: pointer;
}
.question_btns .question_Addbtn{
    margin-left: 20px;
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
.question_btns .question_Addbtn:hover{
    background-color: rgb(58, 58, 247);
    cursor: pointer;
}
.fallback{
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.fallback .fbtext{
  color: #8f1f1b;
  font-weight: 600;
}
.fbtext .link{
  color: dodgerblue;
}

@media screen  and (max-width: 380px){
  .answer{
    font-size: small;
    flex: 0.8;
  }
  .answer_title > h1, .answer_title > p, .answer_title > p > .name, .answer_body, .answer_body > textarea {
    font-size: small;
  } 
  .answer_body > textarea{
    height: 30vh;
  }
}
@media screen and (min-width: 380px) and (max-width: 430px){
  .answer{
    font-size: medium;
    flex: 0.8;
  }
  .answer_title > h1, .answer_title > p, .answer_title > p > .name, .answer_body, .answer_body > textarea {
    font-size: medium;
  }
  .answer_body > textarea{
    height: 30vh;
  }
}
@media screen and (min-width: 431px) and (max-width: 768px){
.answer{
  margin-left: 35px;
  flex: 0.8;
  margin-top: 10px;
}
.answer_body > textarea{
  height: 40vh;
}
}