.feed{
    display: flex;
    flex-direction: column;
    flex: 0.6;
} 
@media screen and (max-width: 380px){
    .feed{
        flex: 0.9;
    }
}
@media screen and (min-width: 380px) and (max-width: 460px){
    .feed{
        flex: 0.8;
    }
}
@media screen and (min-width: 461px) and (max-width: 768px){
.feed{
    margin-left: 50px;
}
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .feed{
        margin-left: 50px;
    }
   
  }