.feed{
    display: flex;
    flex-direction: column;
    flex: 0.6;
} 
@media screen and (max-width: 380px){
    .feed{
        flex: 0.9;
    }
}
@media screen and (min-width: 380px) and (max-width: 430px){
    .feed{
        flex: 0.9;
    }
}
@media screen and (min-width: 431px) and (max-width: 768px){
.feed{
    margin-left: 50px;
}
}