.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    background-color: white;
    width: 100vw;
    position: sticky;
    z-index: 10;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.5);
    height: 10vh;
}
.qHeader_logo{
    display: block;
}
 .qHeader_logo img{
height: 30px;
margin-right: 20px;
}

.qHeader_icons{
    display: flex;
    margin-right: 20px;
    column-gap: 25px;
    justify-content: center;
    align-items: center;
}

.qHeader_icon .MuiSvgIcon-root{
    color: gray;
    font-size: 35px;
    padding: 5px;
}
.qHeader_icon .MuiSvgIcon-root:hover{
    color: #8f1f1b;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray;
}

.qHeader_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    padding: 5px;
    border-radius: 5px;
    /* border: 5px solid red; */
    width: fit-content;
    height: fit-content;
}
.qHeader_input input{
    background-color: transparent;
    outline: none;
    border: none;
    color: rgb(49,49,49);
    margin-left: 10px;
    /* border: 1px solid red; */
} 
.qHeader_input .MuiSvgIcon-root{
   color: gray;
} 

.qHeader_Rem{
    display: flex;
    align-items: center;
    margin-left: 25px;
    column-gap: 25px;
    position: relative;
}
.qHeader_Rem .qHeader_avatar{
    cursor: pointer;
}
.qHeader_Rem .MuiSvgIcon-root{
    font-size: 35px;
    color: gray;
    /* margin-left: 25px; */
}
.qHeader_Rem .MuiSvgIcon-root:hover{
    color: #8f1f1b;
    cursor: pointer;
    
}
.qHeader_Rem .MuiButton-root{
    color: white;
    /* margin-left: 25px; */
    text-transform: inherit;
    background-color: #8f1f1b;
    
    border-radius: 20px;
}
.qHeader_Rem .MuiButton-root:hover{
    color: white;
    background-color: #b92b27;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    cursor: pointer;
}
.languageDiv{
    width: 70px;
    height: 50px;
    background-color: grey;
    position: absolute;
    top: 40px;
    left: 50px;
    padding-top: 10px;
    border-radius: 6px;
   background-color: #8f1f1b;
   color: white;
   box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
   transition: ease-in-out;
}
@media screen and (max-width: 380px){
    .navbar{
      width: 100%;
      padding: 2px;
      justify-content: space-between;
    }
    .qHeader_logo img{
        height: 10px;
        margin-right: 10px;
        }
        .qHeader_icons{
            display: flex;
            margin-right: 10px;
            column-gap: 15px;
        }
        
        .qHeader_icon .MuiSvgIcon-root{
            color: gray;
            font-size: 20px;
            padding: 3px;
        }
        .qHeader_Rem{
            display: flex;
            align-items: center;
            margin-left: 10px;
            column-gap: 15px;
            position: relative;
        }
        .qHeader_Rem .qHeader_avatar{
            cursor: pointer;
        }
        .qHeader_Rem .MuiSvgIcon-root{
            font-size: 20px;
            color: gray;
            /* margin-left: 25px; */
        }
        .qHeader_Rem .addBtn{
            width: 10px;
            height: 30px;
            font-size: x-small;
        }
        .qHeader_input{
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            padding: 2px;
            border-radius: 3px;
            font-size: x-small;
            /* border: 1px solid red;
            /* width: fit-content;
            height: fit-content; */
        }
        .qHeader_input .MuiSvgIcon-root{
            font-size: x-small;
        }
        .qHeader_input .searchInput{
            display: none;
        }
        .qHeader_input .visible{
            display: block;
        }
        .qHeader_avatar .hidden{
            display: none;
        }
        .qHeader_Rem .language{
            display: none;
        }
        .qHeader_Rem .hidden{
            display: none;
        }
        .navbar .hidden{
            display: none;
        }
        .qHeader_icon .hidden{
            display: none;
        }
  }
  @media screen and (min-width: 380px) and (max-width: 430px){
    .navbar{
        width: 100%;
      padding: 2px;
      justify-content: space-between;
    }
    .qHeader_logo img{
        height: 10px;
        margin-right: 10px;
        }
        .qHeader_icons{
            display: flex;
            margin-right: 10px;
            column-gap: 15px;
        }
        
        .qHeader_icon .MuiSvgIcon-root{
            color: gray;
            font-size: 20px;
            padding: 3px;
        }
        .qHeader_Rem{
            display: flex;
            align-items: center;
            margin-left: 10px;
            column-gap: 15px;
            position: relative;
        }
        .qHeader_Rem .qHeader_avatar{
            cursor: pointer;
        }
        .qHeader_Rem .MuiSvgIcon-root{
            font-size: 20px;
            color: gray;
            /* margin-left: 25px; */
        }
        .qHeader_Rem .addBtn{
            width: 10px;
            height: 30px;
            font-size: x-small;
        }
        .qHeader_input{
            display: flex;
            align-items: center;
            border: 1px solid lightgray;
            padding: 2px;
            border-radius: 3px;
            font-size: x-small;
            /* border: 1px solid red;
            /* width: fit-content;
            height: fit-content; */
        }
        .qHeader_input .MuiSvgIcon-root{
            font-size: x-small;
        }
        .qHeader_input .searchInput{
            display: none;
        }
        .qHeader_input .visible{
            display: block;
        }
        .qHeader_avatar .hidden{
            display: none;
        }
        .qHeader_Rem .language{
            display: none;
        }
        .qHeader_Rem .hidden{
            display: none;
        }
        .navbar .hidden{
            display: none;
        }
        .qHeader_icon .hidden{
            display: none;
        }
}
@media screen and (min-width: 431px) and (max-width: 768px){
    .qHeader_logo img{
        height: 20px;
        margin-right: 20px;
        margin-left: 5px;
        }
        .qHeader_Rem .addBtn{
            width: 40px;
            height: 35px;
            font-size: x-small;
        }
}