.post{ 
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    border: 1px soild lightgray;
    border-radius: 5px;
    margin-top: 10px;
}
.post:hover{
    /* border: 1px solid gray; */
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.post_info{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .post_info .infoResponsive{
    display: inline;
} */
.post_info small{
    font-weight: bold;
    margin-left: 20px;
}
.post_info .right{
   margin-left: auto;
}
.post_info .right .MuiSvgIcon-root{
    margin-right: 10px;
    cursor: pointer;
 }
.post_info h5{
    margin-left: 10px;
    font-size: 13px;
}
.post_info h5:hover{
    text-decoration: underline;
    cursor: pointer;
}
.post_body{
    display: flex;
    flex-direction: column;
}
.post_body .post_question{
    display: flex;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}
.post_body .post_question p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.post_body img{
    object-fit: contain;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}
.post_question .post_btnAnswer{
    margin-left: auto;
    outline: none;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}
.post_question .post_btnAnswer:hover{
    background-color: rgb(58, 58, 247);
    cursor: pointer;
}
.edit .MuiSvgIcon-root{
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: larger;
 }
 .edit .MuiSvgIcon-root:hover{
    color: #8f1f1b;
 }
.post_footer{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.post_footer .post_footerAction{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_footer .post_footerAction p{
    color: black;
    font-weight: bold;
    margin-right: 10px;
    margin-left: -30px;
    
}
.post_footer .MuiSvgIcon-root{
    color: gray;
    margin-right: 40px;
    cursor: pointer;
}
.post_footer .MuiSvgIcon-root:active{
    color: dodgerblue;
}

@media screen and (max-width: 380px) {
    .post{
        font-size: small;
    }
    /* .post_info{
        justify-content: space-around;
    } */
    .post_info .qInfo{
        margin-left: 2.5rem;
        text-align: center;
    }
    .editInfo {
        flex-direction: column;
    }
    .editInfo span{ 
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .post_body .post_question{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .post_question .post_btnAnswer{
        border-radius: 10px;
        padding: 5px;
        margin-left: 0;
    }

}
@media screen and (min-width: 380px) and (max-width: 667px){
    .post{
        font-size: medium;
    }
    .post_info .qInfo{
        margin-left: 2.5rem;
        text-align: center;
    }
    .editInfo {
        flex-direction: column;
    }
    .editInfo span{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .post_body .post_question{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .post_question .post_btnAnswer{
        border-radius: 10px;
        padding: 5px;
        margin-left: 0;
    }
}
/* @media screen and (min-width: 461px) and (max-width: 667px){
    .post_info .qInfo{
        margin-left: 2rem;
        text-align: center;
    }
    .editInfo {
        flex-direction: column;
    }
    .editInfo span{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .post_body .post_question{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .post_question .post_btnAnswer{
        border-radius: 10px;
        padding: 2px;
        margin-left: 0;
    }
} */
@media screen and (min-width: 668px) and (max-width: 768px){
        .editInfo{
    flex-direction: column;
    }
    .editInfo span{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }
    .post_info .qInfo{
        margin-left: 3rem;
        text-align: center;
    }
    .post_body .post_question{
         flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px; 
        
     } 
    .post_question .post_btnAnswer{
        border-radius: 10px;
        padding: 5px;
        margin-left: 0;
    }
}
@media screen and (min-width: 769px) and (max-width: 1023px){
    .editInfo{
        flex-direction: column;
        }
        .editInfo span{
            margin-left: 0;
            margin-right: 0;
            text-align: center;
        }
        .post_info .qInfo{
            margin-left: 3rem;
            text-align: center;
        }
        .post_body .post_question{
             flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 10px; 
            
         } 
        .post_question .post_btnAnswer{
            border-radius: 10px;
            padding: 5px;
            margin-left: 0;
        }
}